.global {
    display: flex;
    flex-direction: column;
    
}

.title {
    color: rgb(180, 240, 182);
    margin-top: 70px;
    margin-left: 500px;
}

 .listDocument {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-left: 100px;
}

.titleList {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    
}

.label {
    color: rgb(180, 240, 182);
}

table {
    width: 1390px; 
    border-collapse: collapse;
    table-layout: fixed;
}
    
th, td {
padding: 15px;
box-sizing: border-box;
overflow: hidden; 
text-overflow: ellipsis; 
white-space: nowrap; 
}


th:nth-child(1),
td:nth-child(1) {
width: 300px;
border: 1px solid black;
text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
width: 360px;
border: 1px solid black;
text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
width: 200px;
border: 1px solid black;
text-align: center;
}

th:nth-child(4),
td:nth-child(4) {
width: 500px;
border: 1px solid black;
text-align: center;
}
