.global {
    display: flex;
    flex-direction: column;
    
}

.title {
    color: rgb(180, 240, 182);
    margin-top: 70px;
    margin-left: 500px;
}

.listDocument {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-left: 400px;
}

.titleList {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    
}

.label {
    color: rgb(180, 240, 182);
}