.inscription {
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(180, 240, 182);
    font-size: 18px;
    margin-left: 14px;
    margin-top: 10px;
}

.label {
    font-family: "Arial Black", Gadget, sans-serif; 
    font-size: 12px;
    color: #f2ebeb;
    margin-left: 14px;
}

.form {
    margin-left: 300px;
}

.input {
    width: 500px;
}

.error {
    color: red;
    font-size: 30px;
}